@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

* {
  outline: none;
  border: none;
}

.video-border-point {
  border: 1px solid red !important;
}

.video-border-interpoint {
  border: 1px solid blue !important;
}

.foot-radar-border {
  border: 1px solid white !important;
}

.border-filter-event {
  border: 1px solid #FF5F49 !important;
}

.mesh-bg {
  background-color: hsla(352.6829268292683, 100%, 59%, 1);
  background-image: radial-gradient(circle at 47% 50%, hsla(240, 9%, 22%, 1) 81.57180487428948%, transparent 128.40267573445306%);
  background-blend-mode: normal;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.color {
  background-color: #FF5F49;
}
.WH {
  width: 10px;
  height: 70px;
  position: absolute;
}

.l1 {
  left: 0;
  animation: l1 4s infinite linear;
}
.l2 {
  right: 0;
  animation: l2 4s infinite linear;
}
.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  animation: ball 4s infinite linear;
}

@keyframes l1 {
  0% {
    top: 0%;
  }
  10% {
    top: -20%;
  }
  20% {
    top: 0%;
  }
  30% {
    top: 40%;
  }
  40% {
    top: 0%;
  }
  50% {
    top: 30%;
  }
  60% {
    top: 40%;
  }
  70% {
    top: 60%;
  }
  80% {
    top: -10%;
  }
  90% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}
@keyframes l2 {
  0% {
    bottom: 0%;
  }
  10% {
    bottom: -20%;
  }
  20% {
    bottom: 40%;
  }
  30% {
    bottom: 60%;
  }
  40% {
    bottom: 20%;
  }
  50% {
    bottom: 30%;
  }
  60% {
    bottom: 40%;
  }
  70% {
    bottom: 60%;
  }
  80% {
    bottom: -10%;
  }
  90% {
    bottom: 10%;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes ball {
  0% {
    top: 80%;
    left: 96%;
  }
  10% {
    top: 10%;
    left: 3%;
  }
  20% {
    top: 10%;
    left: 90%;
  }
  30% {
    top: 60%;
    left: 3%;
  }
  40% {
    top: 10%;
    left: 90%;
  }
  50% {
    top: 50%;
    left: 3%;
  }
  60% {
    top: 10%;
    left: 90%;
  }
  70% {
    top: 93%;
    left: 3%;
  }
  80% {
    top: 83%;
    left: 90%;
  }
  90% {
    top: 10%;
    left: 3%;
  }
  100% {
    top: 80%;
    left: 90%;
  }
}










.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  padding: 0 20px 0 10px
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  background-color: #72728B;
}

.switch-toggle input[type="checkbox"]+label::before {
  position: absolute;
  content: 'OFF';
  font-size: 10px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #FF5F49;
}










.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper .label {
  cursor: pointer;
}

.checkbox-wrapper .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  vertical-align: middle;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s stroke-dashoffset;
  opacity: 1;
}

.checkbox-wrapper .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}